#number{
    display: block;
    text-align: center;
    font-size: 10em;
    font-family: Helvetica;
}

#buttonContainer{
    text-align: center;
}

.buttons{
    padding: 15px 25px;
    font-size: 20px;
    background-color: gainsboro;
    border: 20px;
    border-radius: 100px;
    cursor: pointer;
    transition: background-color 0.25s;
}

.buttons:hover{
    background-color: darkgray;
}